<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Admin: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
            <li><a href="https://www.eventbrite.co.uk/e/norwich-hackspace-coding-club-spring-16-tickets-20770930412" target="_blank">Book your place here</a></li>
            <li><a href="http://www.norwichhackspace.org/" target="_blank">Norwich Hackspace</a></li>
            <li><a href="http://www.meetup.com/Norwich-Hack-Makerspace-Meetup/" target="_blank">Meetup Group</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>If you have any issues or have suggestions for fixes or updates please contact us.</p>
      </div>
    </div>

  </div>

</footer>
